:root {
  --color-primary: #231f20;
  --color-greyed-text: #97929b;
  --color-accent: #396a61;
  --color-banners: #fde9ea;
  --color-background: #fff;

  --font-primary: Georgia, serif;
  --font-secondary: Roboto, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-accent);
  transition: all .1s linear;
}
