:root {
  --color-primary: #231f20;
  --color-primary-light: #3d3841;
  --color-greyed-text: #97929b;
  --color-accent: #396a61;
  --color-banners: #fde9ea;
  --color-background: #fff;
  --color-alarm: #ee4750;

  --font-primary: Georgia, serif;
  --font-secondary: Roboto, sans-serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
dl {
  font-family: var(--font-secondary);
}

input,
option,
select,
.btn {
  font-family: var(--font-secondary);
}

input {
  border-color: var(--color-primary-light);
}

a {
  color: var(--color-accent);
}

a:hover,
a:focus {
  color: var(--color-primary);
  transition: all .1s linear;
}

.btn {
  text-align: center;
}

cite,
dl {
  color: var(--color-greyed-text);
}

mark {
  background-color: var(--color-accent);
  color: var(--color-background);
}
