.pink {
  background-color: var(--color-banners);
}

a {
  color: var(--color-primary-light);
}

a:hover,
a:focus {
  color: var(--color-primary);
}

.flex {
  display: flex;
  justify-content: space-between;
}
