.pink {
  background-color: var(--color-banners);
}

footer a {
  color: var(--color-primary-light);
}

footer a:hover,
footer a:focus {
  color: var(--color-primary);
}

.flex {
  display: flex;
  justify-content: space-between;
}
