.btn {
  background-color: var(--color-background);
  border-color: var(--color-greyed-text);
  border-radius: 0;
  color: var(--color-greyed-text);
}

.btn:hover,
.btn:focus,
.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--color-background);
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-header {
  background-color: var(--color-background);
  border-width: 0 0 2px;
  border-color: var(--color-greyed-text);
  color: var(--color-greyed-text);
}

.btn-accent {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-background);
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-background);
}

.btn-footer {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-background);
}
