.btn {
  background-color: var(--color-background);
  border-color: var(--color-greyed-text);
  color: var(--color-greyed-text);
}

.btn:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-background);
}
