.card,
.alternating-card {
  background-color: var(--color-background);
}

hr {
  border-color: var(--color-greyed-text);
}

.embed-item {
  height: 100%;
  width: auto;
}

.right-embed-item {
  height: 100%;
  width: auto;
  right: 0;
  position: absolute;
  top: 0;
}

.alternating-card img {
  height: 430px;
  overflow: hidden;
}

.price {
  color: var(--color-greyed-text);
  font-weight: 400;
}

@media only screen and (min-width: 25em) {

    hr {
      border-color: var(--color-background);
    }

}


@media only screen and (min-width: 38em) {

  .text-content > h2 {
    text-align: left;
  }

}
