.card,
.alternating-card,
.white {
  background-color: var(--color-background);
  text-decoration: none;
}

.card:hover,
.card:focus {
  transform: scale(1.03);
}

hr {
  border-color: var(--color-greyed-text);
}

.embed-item {
  height: 100%;
  width: auto;
}

.right-embed-item {
  height: 100%;
  width: auto;
  right: 0;
  position: absolute;
  top: 0;
}

.alternating-card img {
  height: 430px;
  overflow: hidden;
}

.price {
  color: var(--color-greyed-text);
  font-weight: normal;
}

.cover {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.add-space {
  top: .75rem;
  right: .75rem;
}

.total {
  color: var(--color-primary);
  padding-bottom: 0;
}

th,
td {
  border-bottom: 0;
}

.transparent-white {
  background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 38em) {

  .text-content > h2 {
    text-align: left;
  }

}
